
<div class="text-center" style="padding-top:20px">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:6U7GUjtamt2P0LcFod1dBT" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
</div>

<div class="container", style="padding-top:30px">
  <div class="text-center", style="font-family: sans-serif">
    <%= link_to "C R E A T E    G R O U P" , new_group_path, class:"btn btn-lg btn-primary"%>
  </div>
<% if @search == false %>
    <h1 class="text-center">List of All Groups</h1>
      <ul class="fa-ul", style="padding-bottom:30px">
        <% @groups.each do |group| %>
          <li><i class="fa-li fa fa-spinner fa-spin"></i><strong> <%= group.name %></strong> ( <%= group.location %> )
          <% if group.member?(current_user) %>
            <%= link_to "VIEW YOUR GROUP", group_path(group.id), class:"btn btn-xs btn-warning" %> </li>
          <% else %>
            <%= button_to "JOIN" , memberships_path(group_id: group), class:"btn btn-xs btn-primary" %> </li>
          <% end %>
        <% end %>
     </ul>
<% end %>


<% if @search == true %>
  <h1 class="text-center">List of Results</h1>
    <ul class="fa-ul", style="padding-bottom:30px">
       <% @groups_searched.each do |group| %>
        <li><i class="fa-li fa fa-spinner fa-spin"></i><strong> <%= group.name %></strong> ( <%= group.location %> )
        <% if group.member?(current_user) %>
          <%= link_to "VIEW YOUR GROUP", group_path(group.id), class:"btn btn-xs btn-warning" %> </li>
        <% else %>
          <%= button_to "JOIN" , memberships_path(group_id: group), class:"btn btn-xs btn-primary" %> </li>
        <% end %>
      <% end %>
    </ul>
<% end %>


</div>
