<div class="text-center">
  <div class="btn-group text-center" data-toggle="buttons-checkbox">
      <a class="btn collapse-data-btn" data-toggle="collapse" href="#songs" style="font-size:1em"><i class="fa fa-volume-up"></i> Music maybe? </a>
  </div>
</div>

<div id="songs", class="container collapse", style="padding-top:7px">
  <p class="text-center"> Want to groove while on <strong style="font-family:Chewy;color:#3A92C2"> Who Da Best at FIFA?</strong> Here's a selection of some classic tunes you've heard playing FIFA13 or FIFA14 ! </p>
  <div class="text-center col-md-4" style="padding-top:20px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:6U7GUjtamt2P0LcFod1dBT" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="text-center col-md-4" style="padding-top:20px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:2Vng18sBesGQYIyTUUeewu" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="text-center col-md-4" style="padding-top:20px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:7Kdy6btK7L0XkLyCtQBnMd" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="text-center col-md-4" style="padding-top:10px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:6w8a64C9MU66UdSTnEaW6T" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="text-center col-md-4" style="padding-top:10px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:49Iyikt59PD6VtmNDqg7e8" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="text-center col-md-4" style="padding-top:10px">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:1ieTJuI2QzEGLBBHUIWbs2" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>


<div class="container", style="padding-top:30px">
  <div class="text-center", style="font-family: sans-serif">
    <%= link_to "C R E A T E    G R O U P" , new_group_path, class:"btn btn-lg btn-primary"%>
  </div>
<% if @search == false %>
    <h1 class="text-center">List of All Groups</h1>
      <ul class="fa-ul", style="padding-bottom:30px">
        <% @groups.each do |group| %>
          <li><i class="fa-li fa fa-spinner fa-spin"></i><strong> <%= group.name %></strong> ( <%= group.location %> )
          <% if group.member?(current_user) %>
            <%= link_to "VIEW YOUR GROUP", group_path(group.id), class:"btn btn-xs btn-warning" %> </li>
          <% else %>
            <%= button_to "JOIN" , memberships_path(group_id: group), class:"btn btn-xs btn-primary" %> </li>
          <% end %>
        <% end %>
     </ul>
<% end %>


<% if @search == true %>
  <h1 class="text-center">List of Results</h1>
    <ul class="fa-ul", style="padding-bottom:30px">
       <% @groups_searched.each do |group| %>
        <li><i class="fa-li fa fa-spinner fa-spin"></i><strong> <%= group.name %></strong> ( <%= group.location %> )
        <% if group.member?(current_user) %>
          <%= link_to "VIEW YOUR GROUP", group_path(group.id), class:"btn btn-xs btn-warning" %> </li>
        <% else %>
          <%= button_to "JOIN" , memberships_path(group_id: group), class:"btn btn-xs btn-primary" %> </li>
        <% end %>
      <% end %>
    </ul>
<% end %>


</div>
