
  <div class="text-center">
    <p><em>If you don't want to use the texting service, you can manually add a game here: </em></p>
     <div class="btn-group text-center" data-toggle="buttons-checkbox">
        <a class="btn collapse-data-btn" data-toggle="collapse" href="#details">ADD GAME</a>
     </div>
  </div>

<div class="container", style="padding-top:30px">
  <div class="text-center">
  <div class="form-inline">
    <%= form_for @game do |f| %>
        <div id="details", class="container collapse">
          <div class="row text-center">
           <div class="col-md-3 col-md-offset-2">YOU</div>

           <div class='col-md-1 text-center'> vs.</div>
            <div class="col-md-3">
              <%= f.label "opponent" %>
              <%= f.collection_select(:opponent_id, @opponents, :id, :username) %>
             <br><br>
            </div>
           </div>

          <div class="row form-group">
              <span class="sr-only"><%= f.label "score current" %></span>
              <%= f.text_field :winner_score,placeholder: "Your Score" %> - &nbsp&nbsp&nbsp<br><br>
          </div>

          <div class="row form-group">
              <span class="sr-only"><%= f.label "score opponent" %></span>
               &nbsp&nbsp&nbsp<%= f.text_field :loser_score,placeholder: "Opponent's score" %><br><br>
          </div>

         <div class="row text-center">
              <%= f.submit 'Save Game', class:'btn btn-success' %>
         </div>
        </div>
    <% end %>
    </div>
  </div>

  <br>


  <div class="jumbotron">
    <h2 class="text-center"><em><%= @group.name %></em></h2>
    <h3 class="text-center"> Located @ <em><%= @group.location %></em> </h3>
    <h3 class="text-center" style="text-decoration:underline"> M E M B E R S </h3>

    <% @users.each do |user| %>
      <p class="text-center"> <%= user.username %> (<%= user.first_name %> <%= user.last_name %> ) </p>
    <% end %>

  </div>

</div>

<div class="container" style="padding-top: 10px">
  <div class="jumbotron">
    <h3 class="text-center" , style="color:#3A92C2" >Da Best at FIFA is </h3>
    <strong><h2 class="text-center tlt", style="color:#FBB829"><%= @users.first.username %></h2></strong>
  </div>
</div>

<div class="container", class="text-center" >
  <table class="table table-striped">
    <tr>
      <td>
        <h3>RANK</h3>
      </td>
      <td>
        <h3>PLAYER</h3>
      </td>
      <td>
        <h3>POINTS</h3>
      </td>
      <td>
        <h3 style="color:green">WINS</h3>
      </td>
      <td>
        <h3 style="color:red">LOSSES</h3>
      </td>
      <td>
        <h3>GOALS SCORED</h3>
      </td>
      <td>
        <h3>GAMES PLAYED</h3>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <i class="fa fa-hand-o-left fa-lg fa-fw"></i> <%= link_to "Back", root_path, style:"font-size:1.5em"%>
  </div>
</div>

<div class="container" style="padding-top: 10px">
  <div class="jumbotron">
    <h3> Group History </h3>
    <% @games.each do |game| %>
      <p> <%= game.winner.username %> <%= game.loser.username %> </p>
    <% end %>
  </div>
</div>


<script>
  $( document ).ready(function() {
    $(".animate").textillate();
  })
</script>


