<div class="container", style="padding-top:70px" >
  <h2> GROUP:  <em><%= @group.name %></em></h2>
  <br>
  <h3> Located @ <em><%= @group.location %></em> </h3>
  <br>
  <h3> LIST OF MEMBERS </h3>
  <br>

  <ul>
  <% @users.each do |user| %>
    <li> <%= user.username %> (<%= user.first_name %> <%= user.last_name %> ) </li>
  <% end %>
  <br>
  <i class="fa fa-hand-o-left fa-lg fa-fw"></i> <%= link_to "Back", root_path, style:"font-size:1.5em"%>
  </ul>
</div>

