<!DOCTYPE html>
<html lang="en">
<head>
  <title>WHODABEST</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- NAVBARRRRRR -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header", class="title">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
      <style>
        body {
          font-family: 'Chewy', serif;
          font-size: 18px
        }
      </style>
      <body>
          <%= link_to "Who Da Best at FIFA?", root_path, class: "navbar-brand", style:"color:#3A92C2"%>
      </body>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- If user signed in display this: -->
        <% if user_signed_in? %>
          <li class="inactive"><a href="#">Welcome back, <%= current_user.first_name %></a></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>

      <!-- SEARCH FOR GROUPS -->
      <%= form_tag groups_path, :method => 'get', class:"navbar-form navbar-right", role:"search" do %>
        <div class="form-group">
          <%= text_field_tag :search, nil, placeholder: "Search for groups",
          class:"input-medium search-query" %>
        </div>
        <%= submit_tag "Submit", :name => nil, class:"btn btn-default" %>
      <% end %>
      <!--
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for groups">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right"> -->

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- For flash messages -->
<div class="container", style="padding-top: 70px" >
  <% if notice %>
    <div class="col-sm-6 col-md-6">
      <div class="alert alert-success", class="center-block">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×</button>
        <!-- <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
        <hr class="message-inner-separator"> -->
        <p class="notice",  class="text-center"><strong><%= notice %></strong></p>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="col-sm-6 col-md-6">
      <div class="alert alert-warning", class="center-block">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×</button>
        <!-- <span class="glyphicon glyphicon-record"></span> <strong>Warning Message</strong>
        <hr class="message-inner-separator"> -->
        <p class="alert", class="text-center"><strong><%= alert %></strong></p>
      </div>
    </div>
  <% end %>
</div>

<%= yield %>
  <br>
  <hr noshade size=1 width="33%">
  <div class="text-center", style="padding-bottom: 15px">
      <p style="font-size:0.8em"> Hand-crafted by <%= link_to "David Pointeau", "https://github.com/dpoint01"%> </p>
  </div>
</body>
</html>
