<!DOCTYPE html>
<html>
<head>
  <title>Fifa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- For flash messages -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- If user signed in dispaly this: -->
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
